.cardStyle1 {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 0px !important;
  border-radius: 0.8rem !important;
}
.cardStyle2 {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 0px !important;
  background-color: #f86d70 !important;
  border-radius: 25px;
  border-radius: 0.8rem !important;
}

.kg {
  font-size: 20px;
  font-weight: 500;
}

.dailyData {
  font-weight: 900;
  font-size: 30px;
  color: #0596de;
}

.paragrapheRed {
  padding: 3%;
  margin: inherit;
}

.cardDoctor {
  background-color: rgba(5, 150, 222, 0.2) !important;
  cursor: pointer;
}

.cardReward {
  height: 200px;
  background-color: rgba(5, 150, 222, 0.1) !important;
}

.citationCard {
  border-radius: 10px;
  background-color: rgba(5, 150, 222, 0.4) !important;
}

.titreAbsolu {
  position: absolute;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  text-align: center;
  top: 5px;
}

.moduleDoc {
  cursor: "pointer";
  border-radius: "10px";
}

.titleH1 {
  margin: 5%;
}

.imgDoc {
  width: 50%;
  border-radius: 20px;
}

.cardLink {
  color: black;
  text-decoration: none;
  background-color: inherit;
}
.cardLink:hover {
  color: black;
  text-decoration: none;
  background-color: inherit;
}

.spanTexteDash {
  font-weight: 800;
  font-size: 25px;
}
