.citationCard {
  height: 200px;
  border-radius: 10px;
}

.moduleDoc {
  cursor: "pointer";
  border-radius: "10px";
}

.titleH1 {
  margin-top: 8%;
}

.imgDoc {
  width: 50%;
  border-radius: 20px;
}
