.titreDeux {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.generalButton {
  background: linear-gradient(to bottom right, #0596de, #28084c);
  color: white;
  border-radius: 1000px;
  padding: 10px 30px;
  box-shadow: 1px 1px 4px rgba(40, 8, 76, 0.2);
  text-transform: uppercase;
}

.generalButton:hover {
  background: transparent;
  color: #0596de;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.lienSimple {
  color: #0596de;
}
