* {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.generalButton {
  background-color: #0596de;
  color: white;
  border-radius: 1000px;
  border: 1px solid #0596de;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.generalButton:hover {
  background-color: transparent;
  color: #0596de;
  border: 1px solid #0596de;
  transition: all 0.2s ease-in;
}
